@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400..840;1,400..840&display=swap');

:root {
  --font-family-sans-serif: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-family-monospace: "Roboto Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body {
  font-family: var(--font-family-sans-serif);
}

h1{
  font-family: "Andada Pro", serif;
}


/* 例: offcanvasの幅を300pxから250pxに変更 */
.offcanvas {
  width: 300px !important;
}
.navbar-toggler:focus {
  outline: none !important;
  box-shadow: none !important;
}


html, body {
  margin: 0;
  padding: 0;
  /* Bootstrapのbg-darkに近い暗い色を指定 */
  background-color: #212529; 
}
header {
  /* ノッチ部分（上部のセーフエリア）の高さをパディング上部に追加 */
  padding-top: env(safe-area-inset-top);
}

/* メインコンテンツにも必要なら、ノッチ分の余白を追加 */
main {
  /* ヘッダー固定の場合、ヘッダーの高さ + safe-area-inset-top 分の余白を確保 */
  margin-top: calc(70px + env(safe-area-inset-top));
}


.popover {
  background-color: #2c2f33 !important;
  color: #fff !important;
  border: 2px solid #4c4f53 !important;
  border-radius: 8px !important;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4) !important;
}
.popover-body{
  color: #fff !important;
}
.popover .popover-arrow::before {
  border-top-color: #4c4f53 !important;
}
.popover .popover-arrow::after {
  border-top-color: #2c2f33 !important;
}